  <div class="col-6">
    <div class="card article-card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{title}}</span>
        <p>{{timestamp}}</p>
      </div>
      <div class="card-action">
        <a href={{link}}>LINK</a>
        <a href="#" id="add-comment">COMMENT</a>
        <a href="#" id="delete">BOOKMARK</a>
        <a href="#" id="delete">DELETE</a>
      </div>
    </div>
  </div>