<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue-grey">
      <a href="/" class="brand-logo">
        <img src="./public/images/mongoose.png" class="logo-art"></img>
        Mongoose
      </a>
      <ul id="nav-mobile" class="right hide-on-small-only">
        <li><a active href="/" title="Home"><i class="fas fa-home"></i></a></li>
        {{!-- <li><a id="scrape-btn" title="Scrape new articles"><i class="fas fa-search-plus"></i></a></li> --}}
        <li><a href="saved" title="Saved articles"><i class="fas fa-bookmark"></i></a></li>
        <li><a id="delete-all-btn" title="Clear all"><i class="fas fa-trash-alt"></i></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="fluid-container">
  <div id="wrapper">
    <h5 class="page-title text-center">Scraped Articles</h5>
    <div id="articles" class="row m-2">
      {{#each articles}}
      {{> general-view}}
      {{/each}}
    </div>
  </div>
</div>