<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo ml-2">News Hawker</a>
      <ul id="nav-mobile" class="right hide-on-small-only">
        <li><a class="scrape-btn"><i class="fas fa-search-plus" alt="Search for new articles"></i></a></li>
        <li><a href="/"><i class="fas fa-home"></i></a></li>
        <li><a href="saved"><i class="fas fa-bookmark"></i></a></li>
        <li><a class="delete-all-btn">Delete All</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="fluid-container">
  <div id="wrapper">
      <div id="articles">
        <div class="row m-2">

        {{#each articles}}
          {{#if saved}}
            {{> saved-view}}
          {{else}}
            {{> general-view}}
          {{/if}}
        {{/each}}
        </div>
      </div>
      <div id="notes"></div>
    </div>
</div>

