<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo ml-2">News Hawker</a>
      <ul id="nav-mobile" class="right hide-on-small-only">
        <li><a class="btn scrape-btn">Retrieve New Articles</a></li>
        <li><a class="btn delete-all-btn">Delete All</a></li>
        <li><a href="/"><i class="fas fa-home"></i></a></li>
        <li><a href="saved"><i class="fas fa-bookmark"></i></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="fluid-container">
  <div id="wrapper">
      <h1>Note Scraper</h1>
      <h2><i>If you can do this...the homework should be no problem.</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
</div>

